<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Login</title>

    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- google fonts -->
    <link href="//fonts.googleapis.com/css2?family=Jost:wght@300;400;600&display=swap" rel="stylesheet">

    <!-- CSS Stylesheet -->
    <link rel="stylesheet" href="../static/login.css" type="text/css" media="all" />

    <!-- fontawesome v5 -->
    <script src="https://kit.fontawesome.com/af562a2a63.js" crossorigin="anonymous"></script>

</head>

<body>
    <section class="forms">
        <div class="container">
            <!-- logo -->
            <div class="logo">
                <a class="brand-logo" href="/">Login</a>
            </div>
            <!-- //logo -->
            <div class="forms-grid">

                <!-- login -->
                <div class="login">
                    <span class="fas fa-sign-in-alt"></span>
                    <strong>Welcome!</strong>
                    <span>Sign in to your account</span>

                    <form action="#" method="post" class="login-form">
                        <fieldset>
                            <div class="form">
                                <form action="#" method="post"></form>
                                    <div class="form-row">
                                        <span class="fas fa-user"></span>
                                        <label class="form-label" for="input">Phone #</label>
                                        <input type="text" name="loginphone" class="form-text">
                                    </div>
                                    <div class="form-row">
                                        <!--<span class="fas fa-eye"></span> -->
                                        <button type="button" id="eye" class="fas fa-eye" style="padding: 0; border: none; background: none;"> </button>
                                        <label class="form-label" for="input">Password</label>
                                        
                                        <input id="pwd" name="password" type="password" class="form-text">
                                    </div>
                                        {% with messages = get_flashed_messages() %}
                                        {% if messages %}
                                            {% for msg in messages %}
                                            <p style="text-align: center; color: red;"><b>{{msg}}</b></p>
                                            {% endfor %}
                                        {% endif %}
                                        {% endwith%}
                                    <div class="form-row bottom">
                                        <div class="form-check">
                                            <input type="checkbox" id="remember" name="remember" value="remember">
                                            <label for="remember"> Remember me?</label>
                                        </div>
                                        <a href="#url" class="forgot">Forgot Password?</a>
                                    </div>
                                    
                                    <div class="copy-right" style="margin-top: 3%;">
                                        <p>
                                            Need an account?
                                            <a href="{{ url_for('signup') }}"> Signup</a>

                                        </p>

                                    </div>

                                    <div class="form-row button-login" style="display: flex;
                                    justify-content: center;">
                                        <button class="btn btn-login">Login <span
                                                class="fas fa-arrow-right"></span></button>
                                    </div>
                                </form>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <!-- //login -->
            </div>
            <!-- copyright -->
            <div class="copy-right">
                <p>&copy; 2020 Minimal Forms. All rights reserved | Design by <a href="http://w3layouts.com/"
                        target="_blank">W3layouts</a></p>
            </div>
            <!-- //copyright -->
        </div>
    </section>
    
    <script src="../static/login.js"></script>
</body>

</html>