<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Login</title>

    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- google fonts -->
    <link href="//fonts.googleapis.com/css2?family=Jost:wght@300;400;600&display=swap" rel="stylesheet">

    <!-- CSS Stylesheet -->
    <link rel="stylesheet" href="../static/login.css" type="text/css" media="all" />

    <!-- fontawesome v5 -->
    <script src="https://kit.fontawesome.com/af562a2a63.js" crossorigin="anonymous"></script>

</head>

<body>

    <section class="forms">
        <div class="container">
            <!-- logo -->
            <div class="logo">
                <a class="brand-logo" href="/">Signup</a>
            </div>
            <!-- //logo -->
            <div class="forms-grid">
                <!-- register -->
                <div class="register">
                    <span class="fas fa-user-circle"></span>
                    <strong>Create account!</strong>
                    <formaction="#" method="post" class="register-form">
                        <fieldset>
                            <form action="#" method="post">
                                <div class="form">
                                    <div class="form-row">
                                        
                                        <label class="form-label" for="input">First Name</label>
                                        <input type="text" name="name" class="form-text">
                                    </div>
                                    <div class="form-row">
                                        <span class="fas fa-user"></span>
                                        <label class="form-label" for="input">Phone #</label>
                                        <input type="text" name="registerphone" class="form-text">
                                    </div>
                                    <div class="form-row">
                                        <span class="fas fa">
                                            <img src="https://img.icons8.com/ios-filled/25/000000/pointer.png"/>
                                        </span>
                                        <label class="form-label" for="input">Zone (<a href="https://www.simcoecountyschoolbus.ca/" target="_blank" rel="noreferrer noopener">See Here</a>)</label>
                                        <input type="zone" name="zone" class="form-text">
                                    </div>
                                    <div class="form-row">
                                        <span class="fas fa-lock"></span>
                                        <label class="form-label" for="input">Password</label>
                                        <input type="password" name="registerpassword" class="form-text">
                                    </div>
                                    {% with messages = get_flashed_messages() %}
                                        {% if messages %}
                                            {% for msg in messages %}
                                            <p style="text-align: center; color: red;"><b>{{msg}}</b></p>
                                            {% endfor %}
                                        {% endif %}
                                    {% endwith%}
                                    <div class="copy-right">
                                        <p>Already have an account? <a href="{{ url_for('login') }}">Login</a></p>
                                    </div>
                                    <div class="form-row button-login" style="display: flex;
                                    justify-content: center;">
                                        <button class="btn btn-login">Create <span
                                                class="fas fa-arrow-right"></span></button>
                                    </div>
                                </div>
                            </form>
                        </fieldset>
                        </form>                        
                </div>
                <!-- //register -->
            </div>
            <!-- copyright -->
            <div class="copy-right">
                <p>&copy; 2020 Minimal Forms. All rights reserved | Design by <a href="http://w3layouts.com/"
                        target="_blank">W3layouts</a></p>
            </div>
            <!-- //copyright -->
        </div>
    </section>

    <script src="../static/login.js"></script>
</body>

</html>